
.steps {
  line-height: 1;
  font-size: 12px;
  display: flex;
  flex-wrap: wrap;
  gap: 3px;
}

.badge {
  display: inline-block;
  font-size: 12px;
  line-height: 16px;
  padding: 2px 5px;
  border-radius: 4px;
  background-color: var(--color-border);
  opacity: 0.6;
}

.entry-text {
  background: var(--color-border);
  border-radius: 5px;
  font-style: italic;
  padding: 3px 5px;
}
